* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Raleway;
	outline: 0;
}



/* NAVBAR */



nav {
	display: flex;
	flex-direction: row;
}


#inscription:hover {
	text-decoration: underline;
}

#inscription {
	width: 200px;
	text-align: center;
	margin-right: 50px;
}

#navigation{
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

#navigation li a {
	text-decoration: none;
}

#navigation li {
	list-style: none;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	width: 200px;
}

nav a {
	text-decoration: none;
}

.bluebar a {
	text-decoration: none;
	display: block;
	border-top: solid 2px white;
}

.bluebar a:hover {
	color: #0065FC;
	border-top-color: #0065FC;
}


nav span {
	display: block;
	padding-top: 50px;
}

.blue {
	color: #0065FC;
	font-weight: bolder;
}


.black {
	color: black;
}

/* LOGO	- titres */

#logo1 {
	width: 9vw;
	height: auto;
	min-width: 65px;
	margin-left: 10px;
	max-width: 100px;
	margin-top: 25px;
}

#titres h1{
	margin-top: 30px;
	margin-left: 20px;
	margin-bottom: 10px;
	font-size: 1.5em;
}

#titres p{
	margin-left: 20px;
	font-size: 1em;
}

/* Barre de recherche */

#searchbar {
	display: flex;
	flex-direction: row;
	margin-top: 25px;
	margin-left: 20px;
	font-size: 1em;
	margin-bottom: 30px;
}

#button1{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	width: 40px;
	background-color:#F2F2F2;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

#searchbar input {
	height: 45px;
	width: 15vw;
	font-weight: bolder;
	min-width: 150px;
	font-size: 1em;
	padding-left: 5px;
}


#button2 {
	height: 45px ;
	width: 120px ;
	color: white;
	background-color:  #0065FC;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-color: white;
	margin-left: -4.5px;
	border: none;
	font-size: 1em;
	font-weight: bold;
}

#hidden {
	height: 45px ;
	width: 40px ;
	color: white;
	background-color:  #0065FC;
	border-radius: 10px;
	border-color: white;
	margin-left: -4.5px;
	border: none;
	visibility: hidden;
}

#hidden:hover {
	color: black;
	font-size: 18px;
}

#button2:hover {
	color: black;
	font-weight: bold;
}



/* Filtres */

#Filtres {
	list-style-type: none;
	display: flex;
	font-size: 0.9em;
}

#Filtres ul {
	margin-bottom: 20px;
	width: 100%;
}

#Filtres li{
	display: inline-flex;
	flex-direction: row;
	border: 2px solid #DEEBFF;
	border-radius: 25px;
	margin-right: 10px;
}


.icone {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width : 40px;
	border-radius: 100px;
	background-color: #DEEBFF;
	border: none;
	color: #0065FC;
}

.iconbutton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 40px;
	background-color: white;
	font-weight: bolder;
	font-size: 1.2em;
	border: none;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}


.iconbutton:hover {
	font-size: 1.4em;
}

#animaux {
	width: 210px;
}

#family {
	width: 115px;
}


#txt {
	margin-top: 11px;
	font-weight: bold;
	font-size: 15px;
	margin-left: 10px;
	margin-right: 20px;
}

#info {
	display: flex;
	margin-bottom: 40px;
	margin-left: 5px;
	margin-top: 15px;
}

#box {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
	color: #0065FC;
	width: 30px;
	height: 30px;
	border-radius: 100px;
	border: none;
	margin-top: -6px;
	background-color: #F2F2F2;
	margin-left: 20px;
}

#info p {
	font-size: 15px;
}


/*Main - Hébergements*/

#galerie {
	display: flex;
	width: 100%;
	height: 100%;
}

#hébergement {
	background-color:#F2F2F2;
	width: 65%;
	height:140%;
	margin-right: 40px;
	border-radius: 20px;
	margin-left: 1%;
	min-width: 800px;
	min-height: 500px;
}

#hébergement h2 {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	font-size: 1.5em;
}

#hébergement ul {
		list-style: none;
		display: flex;
		flex: 2 1 auto;
		flex-direction: column;
		height: 100%;
}

#conteneur {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.square {
	width: 30%;
	height: 270px;
	background-color: white;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 50px;
	border-radius: 30px;
-webkit-box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.5);
box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.5);
overflow: hidden;
}

.clic {
	height: 200px;
	width: 100%;
	text-decoration: none;
	color: black;
}


.square li {
	margin-left: 5%;
	margin-top: 2%;
}

.L1 a{
	color: black;
	text-decoration: none;
}

.vignette {
	width: 95%;
	height: 160px;
	border-top-left-radius: 23px;
	border-top-right-radius: 23px;
	margin-top: 2.3%;
	margin-left: 2.3%;
	margin-bottom: 5px;
	object-fit: cover;
}

#hébergement p {
	margin-bottom: 20px;
	margin-top: 10px;
}

#hébergement p:hover {
	text-decoration: underline;
}

#hébergement .fas {
	margin-bottom: 15px;
	margin-top: 2px;
}

#hébergement .fas:hover{
	transform: scale(1.2);
	color: #0065FC;
}

.grey {
	color: lightgrey;
}

.grey:hover {
	color: #0065FC;
}

/*Main - populaires*/

#populaires {
	display: flex;
	flex-direction: column;
	background-color:#F2F2F2;
	width: 30%;
	height:130%;
	border-radius: 20px;
	min-height: 700px;
	min-width: 300px;
}



#tt {
	display: inline-flex;
	justify-content: space-around;
	margin-top: 20px;
	font-size: 1em;
	width: 100%;
	margin-left: 15px;
}

#tt h2{
	margin-bottom: 25px;
}


#populaires ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	flex: 2 1 auto;
	width: 80%;
}

.square2 {
	display: flex;
	width:90%;
	min-width: 310px;
	min-height: 160px;
	background-color: white;
	margin: 0 auto;
	margin-bottom: 50px;
	border-radius: 30px;
	-webkit-box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.5);
	overflow: hidden;
	max-height: 90px;
}

.square2 li {
	margin-left: 5%;
	margin-top: 5%;
}

#container2 {
	width: 100%;
	height: 100%;
}


.vignettes2 {
	width: 95%;
	height:93%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	object-fit: cover;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: auto;
}

.lienimg {
	width: 55%;
} 

#populaires .fas {
	margin-top: 10px;
}

#populaires .fas:hover{
	transform: scale(1.2);
	color: #0065FC;
}

/*Activités*/

#activités {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	overflow: visible;
}

#activités h2 {
	margin-bottom: 20px;
	margin-left: 30px;
	margin-top: 20px;
}

#conteneur3 {
 display: flex;
 flex-direction: row;
 margin-left: 25px;
}


.square3 {
-webkit-box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.5);
box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.5);
 display: flex;
flex-direction: column;
height: 40%;
width: 90%;
background-color: white;
border-radius: 20px;
margin-bottom: 15%;
overflow: hidden;
}

.square3 p {
	display: flex;
	color: black;
	font-weight: bold;
	margin-left: 5%;
	margin-top: 2%;
}


.vignettes3 {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.linkimg2 {
	height: 85%;
}

.linkimgl {
	height: 92%
}

.vlarge {
	height: 100%;
}

.sm {
	min-width: 250px;
	min-height: 160px;
}

.vsm {
	height: 30%;
	min-height: 150px;
	min-width: 250px;
}

.large {
	height: 80%;
	min-width: 230px;
	min-height: 350px;
}

.reduce {
	height: 40vw;
}

.vsmall {
	height: 100%;
}

.vvsmall {
	height:95%;
}

.tvsm p {
	margin-top: 0;
}




/* Galeries */

#galerie img:hover {
	transform: scale(1.1);
}

.L1:hover {
	text-decoration: underline;
}


#activités img:hover {
	transform: scale(1.03);
}


/* Bas de Page */

footer {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	background-color: #F2F2F2;
	padding-top: 50px;
	padding-bottom: 50px;
}

footer ul li{
	margin-bottom: 15px;
	list-style: none;
}

.top {
	font-weight: bold;
}

.link:hover {
	font-weight: bold;
	transform: scale(1.1);
	text-decoration: underline;
}

footer a {
	color: black;
	text-decoration: none;
}

/*
VERSION MOBILE
*/


@media all and (max-width: 768px) and (min-width: 100px){

/*Navigation*/

#navigation {
	display: flex;
}

#nav1 :nth-child(2) { order: 3; }

#nav1{
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: 0px;
}

#nav1 ul {
	width: 100%;
	justify-content: space-around;
}

#nav1 li {
	width: 50%;
}

#inscription {
	margin-right: 0px;
	width: 70px;
}


.bluebar a {
	text-decoration: none;
	display: block;
	border-bottom: solid 2px white;
	padding-bottom: 10px;
	border-bottom-color: #F2F2F2;
}

.bluebar a:hover {
	color: #0065FC;
	border-bottom-color: #0065FC;
	border-top-color: white;
}

#logo1 {
	width: 50vw;
	margin-left: 30px;
}


/* Searchbar & Titres */	

#searchbar{
	width: 100%;
	align-items: center;
	justify-content: center;
	margin-left: 0px;
} 

#searchbar input{
	width: 70%;
}

#button2{
	visibility: collapse;
	width: 0%;
}

#hidden {
	visibility: visible;
}

#titres {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#titres h1, #titres p {
	width: 80%;
}

#titres h1 {
	font-size: 22px;
}

/* Filtres */

#Filtres li {
	margin-bottom: 10px;
}

#Filtres {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}

#Filtres p {
	margin-bottom: 20px;
	margin-top: -5px;
	font-weight: bold;
}



/* GALERIE */


#galerie{
	display: flex;
	flex-direction: column-reverse;
	height: 100%;
}


/*hébergement*/


#hébergement {
	width:100%;
	min-height: 0px;
	min-width: 0px;
	margin-left: 0px;
	background-color: white;
}

#conteneur {
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.square {
	width: 90%;
	height: 5%;
	margin: 0;
	min-height: 0px;
	min-width: 0px;
	margin-bottom: 20px;
}

.vignette {
	margin-top:1.1%;
	margin-left:1%;
	margin-bottom:1.5%;
	width: 98%;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.L1 {
	font-size: 20px;
}


/*populaires*/

#populaires {
	width: 100%;
	justify-content: center;
	align-items: center;
	border-radius: 0px;
}

#tt {
	justify-content: flex-start;
}

#tt h2 {
	margin-left: 30px;
}

#tt i {
	margin-left: 30px;
}


/*Activités*/

#activités {
	overflow: visible;
}

#conteneur3 {
	display: flex;
	flex-direction: column;
		justify-content: center;
	align-items: center;
}

.square3 {
	display: flex;
	justify-content: space-around;
	max-height: 270px;
	min-height: 270px;
	width: 95%;
	margin-bottom: 20px;
}


.reduce {
	height: 100%;
	width: 100%;
}

.vignettes3 {
	height: 210px;
	margin-top: -14px;
}

.square3 p {
	margin-top: -10px;
	width: 100%;
	height: 100%;
}


/* Footer */

footer {
	display: flex;
	flex-direction: column;
}

footer ul {
	margin-bottom: 40px;
	margin-left: 50px;
}

.top {
	font-size: 18px;
}
}


/*TABLETTE*/


@media all and (min-width: 768px) and (max-width: 992px) {
	/*Navigation*/


#navigation {
	display: flex;
}

#nav1 :nth-child(2) { order: 3; }

#nav1{
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: 0px;
}

#nav1 ul {
	width: 100%;
	justify-content: space-around;
}

#nav1 li {
	width: 50%;
}

#inscription {
	margin-right: 20px;
}

.bluebar a {
	text-decoration: none;
	display: block;
	border-bottom: solid 2px white;
	padding-bottom: 10px;
	border-bottom-color: #F2F2F2;
}

.bluebar a:hover {
	color: #0065FC;
	border-bottom-color: #0065FC;
	border-top-color: white;
}

#logo1 {
	width: 50vw;
	margin-left: 30px;
}


/* Searchbar & Titres */	

#searchbar{
	width: 100%;
	align-items: center;
	justify-content: center;
	margin-left: 0px;
} 

#searchbar input{
	width: 40%;
}

#button2{
	visibility: collapse;
	width: 0%;
}

#hidden {
	visibility: visible;
}

#titres {
	width: 100%;
	display: flex;
	flex-direction: column;
}

#titres h1, #titres p {
	width: 80%;
}

#titres h1 {
	font-size: 22px;
}

/* Filtres */

#Filtres li {
	margin-bottom: 10px;
}

#Filtres {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}

#Filtres p {
	margin-bottom: 20px;
	margin-top: -5px;
	font-weight: bold;
}



/* GALERIE */


#galerie{
	display: flex;
	flex-direction: column-reverse;
	height: 100%;
}


/*hébergement*/

#hébergement {
	width:100%;
	min-height: 0px;
	min-width: 0px;
	margin-left: 0px;
	background-color: white;
}

#conteneur {
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
}

.square {
	width: 46%;
	height: 5%;
	margin: 0;
	min-height: 0px;
	min-width: 0px;
	margin-bottom: 20px;
}

.vignette {
	width: 96%;
	margin-top: 1.8%;
	margin-left:1.9%;
	margin-bottom:1.5%;
	border-top-left-radius:27px;
	border-top-right-radius:27atapx;
}

.L1 {
	font-size: 20px;
	font-weight: bold;
}


/*populaires*/

#populaires {
	width: 100%;
	justify-content: center;
	align-items: center;
	border-radius: 0px;
}

.vignettes2 {
	margin-top: 1.5%;
}

#tt {
	justify-content: flex-start;
}

#tt h2 {
	margin-left: 40px;
}

#tt i {
	margin-left: 40px;
}



/*Activités*/

#activités {
	width: 100%;
	height: 100%;
}

#conteneur3 :nth-child(2) {order: 4; }

.bold {
	font-weight: bold;
}

#conteneur3 {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}

.square3 {
	display:flex;
	max-height: 270px;
	min-height: 270px;
	width: 90%;
	margin-bottom: 20px;
}


.text p {
	width: 100%;
	margin-top: 20px;
}

.text a {
	width: 100%;
}

.reduce {
	height: 100%;
	width: 100%;
}

.vignettes3 {
	height: 210px;
	margin-top: -15px;
}

.text {
	display: flex;
	justify-content: center;
	align-items: center;
}

.reduce {
	width: 50%;
}

/* Footer */


.top {
	font-size: 18px;
}
}